
<script src="assets/js/jquery-1.11.3.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<!-- for index -->


<script type="text/javascript">
	$("#div2").hide();
	$("#div4").hide();
	
	var int1=setInterval(autoshow1,5000);
	var int2=setInterval(autoshow2,5000);
	
	function autoshow1(){
		$("#div1").toggle();
		$("#div2").toggle();
	};	
	
	function autoshow2(){
		$("#div3").toggle();
		$("#div4").toggle();
	};
	
	function clearInt() {
		$('#div5').mouseover(function() {
			clearInterval(int1);
		});
		$('#div6').mouseover(function() {
			clearInterval(int2);
		});
	};
	
	function setInt() {
		$('#div5').mouseout(function() {
			int1=setInterval(autoshow1,5000);
		});
		$('#div6').mouseout(function() {
			int2=setInterval(autoshow2,5000);
		});
	};
	clearInt();
	setInt();
			
</script>



<!-- for gallery -->
<script src="assets/js/imagesloaded.3.1.8.min.js"></script>
<script src="assets/js/jquery.masonry.3.2.1.min.js"></script> <!-- http://masonry.desandro.com/ -->
<script src="assets/js/jquery.magnific-popup.min.js"></script> <!-- http://dimsemenov.com/plugins/magnific-popup/ -->

<script>
    function init_masonry(){
      var $container = $('#content');

      $container.imagesLoaded( function(){
          $container.masonry({
            itemSelector: '.box',
            isAnimated: true
        });
      });
    }

    $(document).ready(function(){
        
        //Init jQuery Masonry layout
        init_masonry();

        // Magnific Popup
        $('.gallery-images-container').magnificPopup({
            delegate: 'a', // child items selector, by clicking on it popup will open
            type: 'image',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0,1] // Will preload 0 - before current, and 1 after the current image
            },
        });

        //Select menu onchange
        $("#collapsed-navbar").change(function () {
            window.location = $(this).val();
        });
    
    });
</script>
